:root {
    --mian-font: 'Amatic SC', sans-ser;
    --secend-font: 'Open Sans', sans-ser;
    --main-font-color: #37373f;
}
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #f5f2f2;
}

.container {
    width: 90%;
    margin: 40px auto;
}

.nav {
    background-color: white;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: var(--secend-font);
    font-weight: bold;
    box-shadow: 0px 0px 21px 0px #0003;
    z-index: 999;
}

.nav .name h1 {
    font-size: 30px;
}

.nav .name a {
    color: black;
}

.nav .nav-items {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.nav .nav-items .nav-item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.nav .nav-items .nav-item-cover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(101%);
    transition: transform 0.5s ease;
    border-bottom: 3px #ce1212 solid;
}

.nav .nav-items ul li a {
    color: #8c8c8c;
    font-weight: bold;
    transition: color 0.5s;

}

.nav .nav-items ul .nav-item:hover .nav-item-cover,
.nav .nav-items ul .nav-item li a:hover {
    transform: translateX(0%);
    color: #000000;
    cursor: pointer;
}

.nav .nav-items ul {
    list-style: none;
}

.nav .nav-items ul li {
    padding: 5px 0;
}


.nav .icon-dark i {
    font-size: 30px;
}

.header {
    width: 100%;
    height: 150vh;
    background-color: #eee;
}

.header .caption {
    background-color: #eee;
    flex-basis: 100%;
    text-align: center;
    padding: 30px 0;
}

.header .image {
    background-color: #eee;
    flex-basis: 100%;
    padding-top: 140px;
    text-align: center;

}

.header .image img {
    width: 70%;
    filter: drop-shadow(0 0 8px #000000);
    
}
.header .image img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.header .caption h1 {
    font-family: var(--mian-font);
    font-size: 4.0625rem;
    color: var(--main-font-color);
}

.logo::after {
    content: ".";
    color: #e91212;
}

.header .caption p {
    font-family: var(--secend-font);
    color: #4f4f5a;
    padding: 20px 0;
}

.buttons {
    display: flex;
    font-family: var(--secend-font);
    color: var(--main-font-color);
    font-weight: bold;
    justify-content: center;
}

.header .caption .buttons .button-1 {
    padding: 0.625rem 1.5625rem;
    border-radius: 0px 100vh 100vh;
    background-color: rgb(206, 18, 18);
    border: none;
    font-size: 0.9375rem;
    color: white;
    transition: 0.5s;
}

.header .caption .button-2 {
    padding: 0 20px;
    display: flex;
    align-items: center;

}

.header .caption .button-2 .icon i {
    padding: 10px 10px;
}

.header .caption .button-2 .icon {
    display: flex;
    border-radius: 50%;
    border: #ce1212 5px solid;
    background-color: white;
    margin-right: 10px;
}

.header .caption .buttons .button-1:hover {
    background-color: #e91212;
    cursor: pointer;
}

.header .caption .buttons a {
    transition: 0.5s;
}

.header .caption .buttons a:hover {
    color: #e91212;
    cursor: pointer;
}

.chefs {
    margin-top: 50px;
    text-align: center;
}

.chefs .item {
    border-radius: 10px;
    width: calc(100% / 1 - 40px);
    margin: 40px 20px;
    overflow: hidden;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.chefs .item img {
    width: 100%;
    display: block;
}

.chefs .main-paragraph {
    font-family: var(--mian-font);
    font-size: 3.125rem;
    padding-bottom: 40px;
}

.chefs p span {
    color: #ce1212;
}

.chefs .span {
    font-family: var(--secend-font);
    color: #7f7f90;
    padding-top: 20px;
}

.chefs .items .item h2 {
    padding: 10px;
    font-family: var(--secend-font);
}

.chefs .items .item p {
    font-family: var(--secend-font);
    padding: 20px 15px;
    font-size: 0.9375rem;
    font-style: italic;
    color: #8c8c8c;
}

.chefs .items .item span {
    font-family: var(--secend-font);
    font-size: 0.9375rem;
    font-style: italic;
    color: #8c8c8c;
}

.chefs .items .item:hover {
    transform: scale(1.06, 1.06);

}

.chefs .items .item:hover .icons {
    opacity: 1;
}

.chefs .items .item .icons {
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: rgb(238, 238, 238, 0.3);
    top: 30px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
    border-radius: 10px;
}

.chefs .items .item .icons i {
    font-size: 18px;
    padding: 10px 10px;
}

.chefs .items .item .icons a {
    color: #656262;
}

.chefs .items .item .icons a:hover {
    color: #000000;
}



.contact {
    text-align: center;
}

.contact .main-paragraph {
    font-family: var(--mian-font);
    font-size: 3.125rem;
    padding-bottom: 40px;
}

.contact p span {
    color: #ce1212;
}

.contact .span {
    font-family: var(--secend-font);
    color: #8c8c8c;
}

.contact .container .address {
    display: flex;
    flex-flow: column wrap;


}

.contact .container .address .adress {
    padding: 20px 20px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    background-color: #eee;
}

.contact .adress .icon {
    background-color: #b30f0f;
    border: none;
    border-radius: 50%;
}

.contact .adress .icon i {
    font-size: 25px;
    padding: 10px 10px;
    color: white;
}

.contact .adress .info {
    text-align: start;
    padding: 0 20px;
}

.contact .address .info h3 {
    color: #7d7d7d;
    font-size: 1.25rem;
    font-family: var(--secend-font);
}

.contact .address .info p {
    font-family: var(--secend-font);
    padding-top: 5px;
}

.contact .container .full-name .name {
    float: left;
    width: 50%;
    padding: 20px 0;
    padding-right: 5px;
}

.contact .container .full-name .email {
    float: left;
    width: 50%;
    padding: 20px 0;
    padding-left: 5px;
}

.contact .container .full-name input {
    width: 100%;
    height: 50px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 8px;
}

.contact .container .subject input {
    width: 100%;
    height: 50px;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

.contact .container .subject {
    padding-bottom: 10px;
}

.contact .container .message {
    width: 100%;
    padding-top: 10px;
}

.contact .container .message textarea {
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

.contact .container button {
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    background-color: #b30f0f;
    font-size: 14px;
    border-radius: 100vh;
    transition: 0.5s;
    color: white;
}

.contact .container button:hover {
    background-color: #ce1212;
    cursor: pointer;
    color: white;
}

.form {
    background-color: white;
    padding: 10px 20px;
}

.footer {
    background-image: url(../img/textured-metal-background.jpg);
    color: white;
    background-size: contain;
}

.footer .about {
    display: flex;
    flex-flow: column wrap;
}

.footer .container .about-header {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 20px;
}

.footer .container img {
    width: 40px;
}

.footer .container h2 {
    font-family: var(--secend-font);
    padding-left: 10px;
    font-size: 30px;
}

.footer .container #p {
    font-family: var(--secend-font);
    padding: 0 20px;
}

.footer .container #h3 {
    font-family: var(--secend-font);
    text-align: center;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd6;
}

.footer .container .icons {
    padding: 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer .container .icons i {
    font-size: 1.5rem;
}

.footer .container .footer-form {
    display: flex;
}

.footer .container .newsletter {
    padding: 0 20px;
}

.footer .container .newsletter h3 {
    font-family: var(--secend-font);
}

.footer .container .newsletter p {
    font-family: var(--secend-font);
    padding: 10px 0;
}

.footer .container .footer-form .email {
    width: 70%;
}

.footer .container .footer-form input {
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 8px;
}

.footer .container .footer-form button {
    padding: 0.625rem;
    background-color: #b30f0f;
    border: none;
    transition: 0.5s;
    color: white;
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
}

.footer .container .footer-form button i {
    padding-right: 5px;
}

.footer .container .quick-link .row {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer .container .quick-link {
    padding-top: 10px;
}

.footer .container .quick-link .row li {

    list-style: none;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: all 0.5s;
    font-family: var(--secend-font);
}

.footer .container .quick-link .row i {
    padding-right: 10px;
    transform: rotate(90deg);
    padding-bottom: 10px;
}

.footer .container .quick-link .row li:hover {
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(71, 70, 70);
    transform: translateX(10%);
}

.footer .container .touch {
    padding: 20px 0;
}

.footer .container .touch p {
    font-family: var(--secend-font);
    padding: 5px;
}

.footer .container .touch h3 {
    font-family: var(--secend-font);
    padding-bottom: 10px;
}

.footer .container .touch i {
    font-size: 20px;
    color: #b30f0f;
    padding-right: 5px;
}

.gellary .items .gellary-item img {
    width: 100%;
    display: block;
}

.gellary .main-paragraph {
    font-family: var(--mian-font);
    font-size: 3.125rem;
    padding-bottom: 40px;
}

.gellary p span {
    color: #ce1212;
}

.gellary .span {
    font-family: var(--secend-font);
    color: #8c8c8c;
}

.gellary {
    margin-top: 50px;
    text-align: center;
    background-color: #eee;
}

.gellary .items {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
}

.gellary .container {
    padding: 50px 0;
}

.gellary .container .gellary-items {
    column-count: 1;
    column-gap: 10px;
}

.gellary .container .gellary-item {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 30px;
    break-inside: avoid;
    position: relative;
    overflow: hidden;
}

.gellary .container .gellary-item img {
    max-width: 100%;
    display: block;
    transition: transform 0.5s;
}

.gellary .container .gellary-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform 0.5s;
}

.gellary .container .gellary-item .caption .center h2 {
    font-family: var(--secend-font);
    color: white;
}

.gellary .container .gellary-item .caption .center {
    padding: 0 10px;
}

.gellary .container .gellary-item .caption p {
    font-family: var(--secend-font);
    color: white;
}

.gellary .container .gellary-item:hover .caption {
    transform: translateY(0%);
}

.gellary .container .gellary-item:hover img {
    transform: scale(1.1, 1.1);
}

@media (min-width:825px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 80px;
    }

    .nav .nav-items ul {
        display: flex;
        column-gap: 40px;
    }

    .header {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #eee;
    }

    .header .caption {
        background-color: #eee;
        flex-basis: 50%;
        padding-top: 300px;
        padding-left: 80px;
        order: -1;
        text-align: start;
    }

    .header .image {
        background-color: #eee;
        flex-basis: 50%;
        padding-top: 150px;
        text-align: center;
    }

    .header .image img {
        width: 70%;
    }

    .header .caption h1 {
        font-family: var(--mian-font);
        font-size: 4.0625rem;
        color: var(--main-font-color);
    }

    .header .caption p {
        font-family: var(--secend-font);
        color: #4f4f5a;
    }

    .buttons {
        justify-content: flex-start;
    }

    .chefs .container .items {
        display: flex;
        justify-content: space-between;

    }

    .gellary .container .items {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .gellary .container .items .gellary-item {
        flex-basis: calc(100% / 3 - 20px);
        margin: 10px 10px;
    }

    .contact .container .address {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .contact .container .adress {
        flex-basis: calc(100% / 2 - 10px);

    }

    .footer .container {
        display: flex;
        margin-bottom: 0;
    }

    .footer .container .touch {
        padding-top: 20px;

    }

    .footer .container .newsletter {
        padding-top: 20px;
    }

    .footer .container .about .icons {
        padding: 10px;
        justify-content: center;
    }

    .footer .container .about .icons i {
        padding: 10px 20px;
    }

    .footer .container .newsletter {
        padding-left: 20px;
        padding-right: 3px;
    }

    .gellary .container .gellary-items {
        column-count: 3;
        column-gap: 30px;
    }
    .footer .container .quick-link .row{
        justify-content: flex-start;

    }
    .footer .container .quick-link .row li{
        margin-right: 50px;
        padding-right: 100px;
    }

}